@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html,
body {
    /* font-family: 'Patrick Hand', cursive; */

    font-family: 'Abel', sans-serif;

    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-description {
    font-size: 20px;
    line-height: 175%;
    /* width: calc(643px - 48px);
    height: calc(450px - 48px); */
    width: 583px;
    height: 394px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.15);

    border-radius: 8px;
    border: 7px solid rgb(9, 8, 7);
    box-shadow: 0px 0px 5px rgba(9, 8, 7);
    padding: 24px;

    background-color: #a295b5;
    background-size: cover;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    position: relative;
}

.description-section {
    height: 100%;
    border-radius: 8px;
    padding: 12px;
    max-height: 90%;
}

.third-text {
    /* margin-top: 12px;
    max-height: 90%; */
    /* overflow-y: scroll; */

    opacity: 1;

    /* padding-right: 25px; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.window-description-hidden {
    display: none;
}

.intro{
    width: 50%;
    height: auto;
    position: absolute;
    pointer-events: none; 
}

.outro{
    width: 50%;
    height: auto;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    color: white;
}

.outro > * {
    margin: 4px 0px;
}

.description-container {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: flex-end;
    height: 100%;
}


.button-container {
    display: flex;
    flex-direction: row; 
    align-content: center; 
    justify-content: space-between;
    margin-top: 35px;
}

.prevPart {
    background-image: url('./assets/prev.png');
    background-size: contain;
    width: 36px;
    height: 36px;
}

.prevPart:hover {
    background-image: url('./assets/prev-hover.png');
    cursor: pointer;
}

.prevPart.prevPart-disabled {
    background-image: url('./assets/prev-disabled.png');
    background-size: contain;
    width: 36px;
    height: 36px;
    cursor: unset;
}

.nextPart {
    background-image: url('./assets/next.png');
    background-size: contain;
    width: 36px;
    height: 36px;
}

.nextPart:hover {
    background-image: url('./assets/next-hover.png');
    cursor: pointer;
}

.nextPart.nextPart-disabled {
    background-image: url('./assets/next-disabled.png');
    background-size: contain;
    width: 36px;
    height: 36px;
    cursor: unset;
}

.arrow-button {
    background-color: transparent;
    border-width: 0px;
    padding: 4px
}

a {
    /* width: auto; */
    background-color: #544866;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    
    display: inline-block;
    /* background-color: rgb(255, 51, 0); */
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 24px;
    width: inherit;
    /* line-height: 1rem; */
    padding: 5px 15px;
    font-weight: 300;
    text-decoration: none;
    --x-translate-x: 115%;
    --x-translate-y: 0;
    --x-rotate: 0;
    --x-skew-x: -5deg;
    --x-skew-y: 0;
    --x-scale-x: 1;
    --x-scale-y: 1;
    transform: translate3d(var(--x-translate-x),var(--x-translate-y),0) rotate(var(--x-rotate)) skewX(var(--x-skew-x)) skewY(var(--x-skew-y)) scaleX(var(--x-scale-x)) scaleY(var(--x-scale-y));
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, fill 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, stroke 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    --x-ring-color: #a295b5;
    --x-ring-shadow: var(--x-ring-inset, ) 0 0 0 none var(--x-ring-color);
    box-shadow: var(--x-ring-shadow,0 0 #0000),var(--x-shadow,0 0 #0000);
}
  
/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  background-color: rgb(255, 94, 45);
}

/* .intro-hidden {
    position: absolute;
    display: none;
} */

.pointer-none {
    pointer-events: none; 
    display: none;
}

.person-container {
    transform: translateY(calc(-150px - 12px));
    position: absolute;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

.person-container .person {
    width: 75px;
    height: 150px;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.bg-scene {
    border-radius: 8px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.01);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@keyframes shake {
    0% {
        transform: scale(1.01) translate(1px, 1px);
    }
    10% {
        transform: scale(1.01) translate(-1px, -2px);
    }
    20% {
        transform: scale(1.01) translate(-3px, 0px);
    }
    30% {
        transform: scale(1.01) translate(3px, 2px);
    }
    40% {
        transform: scale(1.01) translate(1px, -1px);
    }
    50% {
        transform: scale(1.01) translate(-1px, 2px);
    }
    60% {
        transform: scale(1.01) translate(-3px, 1px);
    }
    70% {
        transform: scale(1.01) translate(3px, 1px);
    }
    80% {
        transform: scale(1.01) translate(-1px, -1px);
    }
    90% {
        transform: scale(1.01) translate(1px, 2px);
    }
    100% {
        transform: scale(1.01) translate(1px, -2px);
    }
}
