@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html,
body {
  /* font-family: 'Patrick Hand', cursive; */

  font-family: 'Abel', sans-serif;

  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window-description {
  font-size: 20px;
  line-height: 175%;
  /* font-weight: 600; */
  width: 35%;
  max-height: 450px;
  color: rgba(255,255,255,0.5);
  text-shadow: 0px 0px 1px rgba(255,255,255,0.15);

  border-radius: 8px;
  /* border: 3px solid rgb(116, 87, 72);
  box-shadow: 0px 0px 5px rgba(116, 87, 72,100); */
  border: 3px solid rgb(9,8,7);
  box-shadow: 0px 0px 5px rgba(9,8,7);
  /* padding-top: 48px;
  padding-bottom: 48px; */
  padding: 24px;

  background-color: #a295b5;
  background-size: cover;
  /* background-position: center; */
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  /* border: 3px solid #99A083; */
  /* color: #785D41; */
  /* box-shadow: 3px 3px 5px #785e4175; */
  /* box-shadow: 3px 3px 5px rgba(9,8,7,30); */
}
  
.description-section {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(9,8,7,0.95), rgba(9,8,7,0.85));
  border-radius: 8px;
  padding: 12px;
  max-height: 350px;
}

.third-text {
  margin-top: 12px;
  max-height: 250px;
  overflow-y: scroll;
  
  padding-right: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0,0,0,0.85); */
  border-radius: 6px;
  background-color: rgba(255,255,255,0.05);
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(255,255,255,0.5)
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.75);
}

/* .third-text {
  float: left;
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
} */

.window-description-hidden {
  display: none;
}

.person-container {
  transform: translateY(calc(-150px - 12px));
  position: absolute;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.person-container .person {
  width: 75px;
  height: 150px;
  background-size:contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

/* .scroll-alert {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px; 
  line-height: 20px; 
} */

/* .scroll-text {
  color: rgba(255,255,255,0.5);
  text-shadow: 0px 0px 1px rgba(255,255,255,0.15);
  position: absolute;
  padding: 0 10px;
  min-width: 100%;
  animation: init 5s linear, back 10s linear 5s infinite;
} */

/* .dupl {
  display: block; 
  animation: back 10s linear 0s infinite;
}

@keyframes back {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
@keyframes init {
  to { transform: translateX(-100%); }
} */