@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  /* font-family: 'Patrick Hand', cursive; */

  font-family: 'Indie Flower', cursive;

  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window-description {
  font-size: 20px;
  line-height: 175%;
  /* font-weight: 600; */
  width: 35%;
  height: auto;
  color: rgba(255,255,255,0.5);
  text-shadow: 0px 0px 1px rgba(255,255,255,0.15);

  border-radius: 8px;
  /* border: 3px solid rgb(116, 87, 72);
  box-shadow: 0px 0px 5px rgba(116, 87, 72,100); */
  border: 3px solid rgb(9,8,7);
  box-shadow: 0px 0px 5px rgba(9,8,7);

  padding: 5%;
  /* padding-top: 48px;
  padding-bottom: 48px; */

  background-color: #a295b5;
  background-size: cover;
  /* background-position: center; */
  background-position: bottom;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  /* border: 3px solid #99A083; */
  /* color: #785D41; */
  /* box-shadow: 3px 3px 5px #785e4175; */
  /* box-shadow: 3px 3px 5px rgba(9,8,7,30); */
}
  
/* .description-section h2 {
  margin-top: 8px;
  margin-bottom: 4px;
} */

.third-text {
  margin-top: 12px;
}

/* .third-text {
  float: left;
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
} */

.window-description-hidden {
  display: none;
}

.person-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}

.person-container .person {
  width: 200px;
  height: 200px;
  background-size: cover;
}